<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Редагування даних про студента</title>
</head>
<body>

<header>
    <div id="logo">
        <img src="../static/images/logo.png" alt="Логотип">
    </div>
    <div id="back-btn">
        <a href="{{ url_for('AdminAddStudent') }}">Назад</a>
    </div>
    <div id="logout">
        <span><a href="{{ url_for('index') }}">Вихід</a></span>
    </div>
</header>

<div id="content-container">
    <h2>Інформація про студента</h2>

    <div id="group-info">
        <p><b>ПІБ:</b> {{ student_info[0][1] }}</p>
        <p><b>Номер телефону батьків:</b> {{ student_info[0][2] }}</p>
        <p><b>Групи:</b> {{ student_groups }}</p>
    </div>

    <div id="edit-info">
        <h3>Зміна даних студента</h3>
        <form method="POST">
            <label for="studentName">Введіть ПІБ студента:</label>
            <input type="text" id="studentName" name="studentName" placeholder="ПІБ" required>
            <label for="studentPhone">Введіть номер телефону батьків студента:</label>
            <input type="text" id="studentPhone" name="studentPhone" placeholder="Номер телефону" required>
            <label for="group">Введіть групи у яких навчається студент, якщо не навчається у жодній <b>none</b><a href="{{url_for('AdminGroup')}}">Список груп:</a></label>
            <input type="text" id="group" name="group" placeholder="Групи" required>
            <button type="submit" value="new_inf" id="new_inf" class="btn">Зберегти зміни</button>
        </form>
    </div>
</div>

</body>
</html>
