<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Редагування даних про викладачів</title>
</head>
<body>

<header>
    <div id="logo">
        <img src="../static/images/logo.png" alt="Логотип">
    </div>
    <div id="back-btn">
        <a href="{{ url_for('AdminTeachers') }}">Назад</a>
    </div>
    <div id="logout">
        <span><a href="{{ url_for('index') }}">Вихід</a></span>
    </div>
</header>

<div id="content-container">
    <h2>Профіль викладача</h2>

    <div id="teacher-info">
        <p><b>Логін:</b> {{ teacher_info[1] }}</p>
        <p><b>Пароль:</b> {{ teacher_info[2] }}</p>
    </div>

    <div id="edit-info">
        <h3>Редагування інформації</h3>
        <form method="POST">
           <label for="login">Логін:</label>
            <input type="login" id="login" name="login" placeholder="ПІБ" required>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
            <button type="submit" value="new_inf" id="new_inf" class="btn">Підтвердити зміни</button>
        </form>
    </div>
</div>

</body>
</html>