<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Розклад</title>
</head>
<body>

<header>
    <div id="logo">
        <img src="../static/images/logo.png" alt="Логотип">
    </div>
    <div id="buttons">
        <div id="back-btn">
            <a href="{{ url_for('teacher') }}">Назад</a>
        </div>
        <span><a href="{{ url_for('index') }}">Вихід</a></span>
    </div>
</header>

<div id="add-info">
    <h3>Запис відсутнього</h3>
    <form method="POST">
       <label for="GroupName">Назва групи:</label>
        <input type="text" id="GroupName" name="GroupName" placeholder="Назва групи" required>
        <label for="PIB">ПІБ студента:</label>
        <input type="text" id="PIB" name="PIB" placeholder="ПІБ" required>
        <label for="Date">Дата пропуску:</label>
        <input type="text" id="Date" name="Date" placeholder="Дата" required>
        <button type="submit" value="new_inf" id="new_inf" class="btn">Зареєструвати</button>
    </form>
</div>
<div id="content-container-abs">
    <h2>Пропуски з назначеною датою відпрацювання</h2>
    <ul id="teachers-list-abs">
        {% if absentees_with_date == "Відсутня актуальна інформація" %}
            <p><b>Відсутня актуальна інформація</b></p>
        {% endif %}

        {% if absentees_with_date != "Відсутня актуальна інформація" %}
            {% for student in absentees_with_date %}
                <li>
                    <p><b>ПІБ: </b> {{ student[2] }}</p>
                    <p><b>Назва групи: </b> {{ student[1] }}</p>
                    <p><b>Дата пропуску: </b> {{ student[3] }}</p>
                    <p><b>Дата відпрацювання: </b> {{ student[4] }}</p>
                    <span><a href="{{ url_for('deleteAbsent', absent_id=student[0]) }}">Проведено</a></span>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
<div id="content-container">
    <h2>Пропуски без назначеної дати відпрацювання</h2>
    <ul id="teachers-list">
        {% if absentees_with_out_date == "Відсутня актуальна інформація" %}
            <p><b>Відсутня актуальна інформація</b></p>
        {% endif %}

        {% if absentees_with_out_date != "Відсутня актуальна інформація" %}
            {% for student in absentees_with_out_date %}
                <li>
                    <p><b>ПІБ: </b> {{ student[2] }}</p>
                    <p><b>Назва групи: </b> {{ student[1] }}</p>
                    <p><b>Дата пропуску: </b> {{ student[3] }}</p>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
</body>
</html>
